<div [formGroup]="form">

  <input type="text"
         id="value"
         formControlName="value">

  <p>{{form.get('value').value}}</p>

  <button
    (click)="sendValueRequest()"
  >Send value request
  </button>
  <br>
  <br>
  <br>
  <div>
    <input type="number"
           id="millis"
           formControlName="millis"
    >
  </div>
  <button
    (click)="startHittingServer()"
  >Start hitting server
  </button>
  <button
    (click)="autoIncrement(1)"
  >Increment
  </button>
  <button
    (click)="autoIncrement(0)"
  >Sop increment
  </button>
  <button
    (click)="stopHittingServer()"
  >Stop hitting server
  </button>
  <br>

  <br>
  <br>
  <br>

  <button
    (click)="sendCrashRequest()"
  >Send crash request
  </button>
</div>
